
.Trash-0/
notebooks/.ipynb_checkpoints/
data/
.env
mlartifacts/
mlruns/
notebooks/mlflow/.ipynb_checkpoints/
.ipynb_checkpoints/
notebooks/hf/test_trainer/runs/
notebooks/hf/yelp/models/
.vscode/
cache/huggingface/transformers/
notebooks/hf/models/
notebooks/hf/test-trainer/
